
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

p {
    font-size: 18px;
    text-transform: none;
    text-shadow: none;
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
    text-shadow: none;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

h1 {
    font-family: 'GothamBold';
}

.question-all-text h2 {
    font-family: 'CourierPrime-Bold';
    text-transform: normal;
    font-size: 24px;
}

.question-all-text h1 {
    font-family: 'CourierPrime-Bold';
    text-transform: normal;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.ui-content {
    padding-left: 0;
    padding-right: 0;
}

#new-question {
    padding-top: 200px;
}

#map, #map-all {
    width: 100%;
    min-height: 300px;
}
#map-all {
    min-height: 100px;
}

#map .centerMarker, #map-all .centerMarker {
  position:absolute;
  /*url of the marker*/
  background:url(../img/marker.png) no-repeat;
  background-size: cover;
  /*center the marker*/
  top:50%;left:50%;
  z-index:1;
  /*fix offset when needed*/
  margin-left:-10px;
  margin-top:-34px;
  /*size of the image*/
  height:26px;
  width:20px;
  cursor:pointer;
}

#img-center-bunny {
  /*position:absolute;*/
  /*url of the marker*/
  background:url(../img/ASKII-bunny.png) no-repeat;
  background-size: cover;
  /*center the marker*/
  top:50%;left:50%;
  z-index:1;
  /*fix offset when needed*/
  margin: 100px auto 0px auto;
  /*size of the image*/
  height:100px;
  width:135px;
  cursor:pointer;
}

#img-center-start {
  background:url(../img/ASKII.png) no-repeat;
  background-size: cover;
  /*center the marker*/
  top:50%;left:50%;
  z-index:1;
  /*fix offset when needed*/
  margin: 100px auto 0px auto;
  /*size of the image*/
  height:150px;
  width:180px;
  cursor:pointer;

}

#question-map {
    height: 180px;
    width: 100%;
}

#pg-start {
    background-color: #85f9e8;
}

#pg-start img{
    display: block;
    margin: 200px auto 0px auto;
    width: 180px;
}

.ui-btn {
    height: 40px;
}

.btn-yellow {
    background-color: #f4ea17;
    margin: 60px 50px 0px 50px;
    padding-top: 25px;
}

.btn-blue {
    border: none;
    margin: 60px 50px 0px 50px;
    padding-top: 25px;
}

.btn-gray {
    border: none;
    background-color: #cccccc;
    margin: 60px 50px 0px 50px;
    padding-top: 25px;
}

.btn-blue-bottom {
    border: none;
    margin: 10px 50px 0px 50px;
    padding-top: 25px;
}

/*.ui-page-theme-a {
    background-color: transparent;
}*/

.ui-footer-fixed {
    background-color: #27268d;
    height: 100px;
}

div.ui-footer {
    background-color: #27268d;
}

#question-new {
    background-color: #85f9e8;
    border: none;
    display: block;
}

#question-new h1 {
    color: #fff;
    padding-top: 20px;
}
#ask-around {
    background-color: #ccc;
}
#ask-around h1 {
    color: #fff;
}

.footer-blue {
    background-color: #85f9e8 !important;
}

.question-area {
    min-height: 120px;
}

.question-all {
    padding-top: 20px;
    min-height: 100px;
}

.question-all-text {
    width: 70%;
    display: inline-block;
    padding-left: 20px;
    min-height: 60px;
}

.comment-count {
    padding-left: 20px;
}

.question-all-text h1 {
    text-align: left;
}

.yes-and-no {
    float: right;
    padding-right: 30px;
}

.yes {
    width: 40px;
    height: 40px;
    background-color: #85f9e8;
    border-radius: 50%;
    margin-bottom: 8px;
}

.no {
    width: 40px;
    height: 40px;
    background-color: #cccccc;
    border-radius: 50%;
}

.yes a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding-top: 12px;
    color: #000;
}

.no a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding-top: 12px;
    color: #000;
}

.area-white {
    background-color: #fff;
}

.header-single {
    height: 50px;
}

.header-single a {
  /*url of the marker*/
  background:url(../img/close.png) no-repeat;
  background-size: cover;
  /*center the marker*/
  top:50%;left:50%;
  /*fix offset when needed*/
  margin-right:20px;
  margin-top:10px;
  /*size of the image*/
  height:26px;
  width:26px;
  cursor:pointer;
  float: right;
}

.question-single-all {
    padding-top: 40px;
    min-height: 120px;
    border-bottom: 0.5px solid;
}

.ppls-comments {
    padding-left: 20px;
}

.ui-field-contain {
    display: inline-block !important;
}

#comment-button h1{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    float: right;
    padding-top: 32px;
}

.new-comment-field {
    padding: 0px 20px;
    background-color: #f2f2f2;
}

#my-comment {
    border: none;
    font-size: 18px;
    width: 80%;
    border-radius: 0%;
    padding-top: 20px;
    padding-left: 20px;
}

#pg-new-question {
    background-color: #85f9e8;
}

#my-question {
    background-color: #85f9e8;
    border: none;
    box-shadow: none;
    font-family: 'CourierPrime-Bold';
    text-transform: none;
    font-size: 30px;
    text-shadow: none;
}

.question-all-text span {
    font-family: 'CourierPrime-Bold';
    text-transform: none;
    font-size: 24px;
    text-shadow: none;
}

.new-question-area {
    padding: 60px 20px 0px 20px; 
}

.new-question-area .ui-field-contain {
    min-height: 150px;
}

#pg-question-location {
    background-color: #85f9e8;
}

.question-instruction p {
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
}

#pg-question-complete {
    background-color: #85f9e8;
}

.comment-box {
    width: 70%;
}


